#maze-container {
  display: grid;
  gap: 1px;
}
#stats {
  font-size: 32px
}
.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}
.wall {
  background-color: #a46953;
}
.path {
  background-color: #3cffad;
}
.end {
  background-color: #3cffad;
  color: white;
}
.end::before {
  content: "❌";
  color: black;
  font-size: 20px;
}
.hero {
  background-color: #3cffad;
  color: white;
}
.hero::before {
  content: "🏃";
  font-size: 60px;
}
.dragon {
  background-color: #3cffad;
  color: white;
}
.dragon::before {
  content: "🐉";
  font-size: 60px;
}